body {
    background-color: rgba(0, 0, 0, 0.02);
}

.form-components-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    margin: 1rem auto;

    width: 20rem;
    height: fit-content;

    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}